@model dynamic

<tr class="entry-item">
    <td class="cell-buttons">
        <div class="cell-content">
            <span>@Model.Date</span>
            <div class="button-group">
                @* <a asp-page="@Model.EditPage" asp-route-id="@Model.Id" class="edit-button" title="Edit Entry">✎ Edit</a> *@
            </div>
        </div>
    </td>

    <td class="cell-buttons">
        <div class="cell-content">
            <span>@Model.ValueDisplay</span>
            <div class="button-group">
                @* <a asp-page="@Model.EditPage" asp-route-id="@Model.Id" class="edit-button" title="Edit Entry">✎ Edit</a> *@
            </div>
        </div>
    </td>

    <td class="button-column cell-buttons">
        <a asp-page="@Model.EditPage" asp-route-id="@Model.Id" class="edit-button edit-button-row" title="Edit Entry">✎ Edit</a>
        <form method="post" asp-page-handler="@Model.DeleteHandler" asp-route-id="@Model.Id" class="delete-form">
            <button type="submit"
                    title="Delete Entry"
                    class="delete-button"
                    onclick="return confirm('Are you sure you want to delete this entry with the following details? Date: @Model.Date Quantity: @Model.ValueDisplay');">
                X Delete
            </button>
        </form>

    </td>
</tr>